Source: drcsim-prerelease
Standards-Version: 3.9.3
Maintainer: Brian Gerkey <gerkey@osrfoundation.org>
Section: devel
Priority: extra
Build-Depends: cmake, debhelper (>= 7.0.50~), gazebo-prerelease (>= 1.3.0), ros-fuerte-pr2-mechanism, ros-fuerte-std-msgs, ros-fuerte-common-msgs, ros-fuerte-image-common, ros-fuerte-geometry, ros-fuerte-pr2-controllers, ros-fuerte-geometry-experimental, ros-fuerte-robot-model-visualization, ros-fuerte-image-pipeline, osrf-common, sandia-hand
Homepage: http://theroboticschallenge.org

Package: drcsim-prerelease
Architecture: any
Section: devel
Priority: extra
Depends: gazebo-prerelease (>= 1.3.0), ros-fuerte-pr2-mechanism, ros-fuerte-std-msgs, ros-fuerte-common-msgs, ros-fuerte-image-common, ros-fuerte-geometry, ros-fuerte-pr2-controllers, ros-fuerte-geometry-experimental, ros-fuerte-robot-model-visualization, ros-fuerte-image-pipeline, osrf-common, sandia-hand, ${misc:Depends}
Description: 3D dynamics simulator for robotics
 Open source robot simulator designed to accurately simulate robots and worlds.
Homepage: http://theroboticschallenge.org

Package: drcsim-prerelease-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    drcsim-prerelease (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for drcsim
 This package contains the debugging symbols for DRC simulator
